nav.navbar{
	border-radius: 0px;
}
body{
    background-color: #3d585c !important;
}
.main{
    padding: 15px !important;
}
.upper-part{
    
    background: #3d585c;
    padding-left: 0px;
    padding-right: 0px;
}

.open-university{
   padding-left: 0px; 
    
       
}
.open-university p{
    
    color: #fff;
    font-size: 46pt;
    padding-top: 15px;
    margin-bottom: 0px;

}

.open-university pre{
    color: #ccc;
    font-size: 12pt;
    background: none;
    border: none;
    padding-top: 0px;
}

.A-ZIndex{
    
    left: -25px;
}

.A-ZIndex ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: -1px;
}

.A-ZIndex ul li {
    
    white-space: nowrap;
    border-left: 1px solid white;
    padding: 0px 6px;
    color: white;
}

.A-ZIndex ul li a{
    
    color: white;
}

.A-ZIndex ul li:first-child{
    
    border-left: none;
    
}
.search-index{
    
    margin-top: 25px;
    padding-right: 0px;
    margin-right: -24px;
}

.srch {
    
    background: black;
    color: white;  
}

.input-group .form-control{
    background: #304649;
    color: #ffffff;
    font-size: 12pt;
    border: 2px solid white;
    
}



.image {
    padding: 0px !important;
    margin-top: -20px;
    border-bottom: 10px solid black;
}

.prosp-student img{
    height: 200px;
}

.image img {
   width: 100%; 
   height: 200px;
}

.students{
    padding-top: 25px;  
    border-bottom: 5px solid #e2e2e2;
    padding-left: -4px;
    background-color: #fff;
}

.students img{
    height: 200px;
}

.prosp-current{
    padding-left: 0px;
    padding-right: 0px;
}
.inter-admission{
    
    padding: 0px;
}

.students p{
    
   color: #956767;
   font-size: 18pt; 
    text-align: center;
    display: block;
    
}

.application{
    padding-top: 25px;  
    background-color: #fff;
}

.application p{
    color: #666;
    font-size: 18pt;   
}

.congue2{
    margin-top: 25px;
}

.latest-news{
    padding-top: 25px;  
    background-color: #fff;
}

.latest-news span{
    color: #660000;
    font-size: 11pt;
    
}

.container-fluid h5{
    color: #666666;
    font-size: 18pt;
}

.news{
    margin-right: 20px;
}

.congue2-1{
    margin-right: 20px;
}

.embed-responsive{
    max-width: 100%;
    height:auto;
    
}
.tour{
    padding-top: 25px;  
    background-color: #fff;
}
.tour p{
    color: #666666;
    font-size: 11pt;
}

.news-container{
    background-color: #fff;
    padding: 0px !important;
}

.tour a{
    color: #660000;
    font-size: 10pt;
}

.list {
    background: #f2f2f2;
    border-top: 1px solid #e2e2e2;
    padding-top: 50px;
}

.list h5{
    color: #878787;
    font-size:18pt;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 25px;
}

.list a{
    color:#660000 ;
}
.list li{
    list-style: none;
}

.courses-academic{
    
    margin-top: 20px;
}

.campus-depart{
    margin-top: 20px;
}

.copy-right{
    background: black;
    margin-top: 0px;
    color: #727272;
    padding-top: 15px;
    
}


@media (max-width: 991px){
    .application > div,
    .latest-news > div{
        text-align: center;
    }

    .application > div img,
    .latest-news > div img{
        display: block;
        margin: auto;
    }

    .tour{
        text-align: center;
    }
}

@media (max-width: 767px){
    .open-university{
        text-align: center;
        padding: 0px !important;
    }

    .open-university p{
        font-size: 40px;
    }

    .open-university pre{
        padding: 0px;
    }

    .login-menu{
        padding: 0px !important;
        text-align: center;
        font-size: 13px;
        max-width: 400px;
        margin: auto;
        float: none !important;
    }

    .login-menu .pull-right{
        float: left !important;
        padding: 0px !important;
    }

    .list ul{
        padding: 0px;
    }

    .list h5,
    .list ul li,
    .domain-name,
    .template{
        text-align: center;
    }

    .template p{
        float: left !important;
        width: 100%;
    }

    nav.navbar{
        margin-top: 30px;
    }

    .students img {
        display: block;
        margin: auto;
    }
}

